---
layout: default
---

<h1 id="form-elements">Mini404 Command Line Generator</h1>

Note: This tool is still in development. Please report any issues you may encounter so it can be improved! <br><br>

<h3> Daunted by all the command line options? We've got you covered! </h3>

<link rel="stylesheet" href="style.css">
<script>
  function toggleClass(param,bBlock) {
    baseclass = param.replace(/[0-9]/g,'');
    items = document.getElementsByClassName(baseclass+'-block');
    for(i=0; i<items.length; i++) {
      // alert(items[i].id)
      if (bBlock) {
        if(items[i].id != param+"-p") {
          items[i].style.display='none';
        }
      } else {
        items[i].style.display='initial';
      }
    }
  }

  function updateParam(param, format) {
    sourceCtl = document.getElementById(param);
    enableCtl = document.getElementById(param + "-enabled");
    if (arguments.length == 1) {
      format = param + " %1";
    }
    //alert(event.target.id);
    if (enableCtl.value == 1 || enableCtl.checked) { 
      newstring = format.replace('%1',"" + sourceCtl.value);
      newvis = "block";
      toggleClass(param,true)
    } else {
      newstring = "";
      newvis = "none";
      toggleClass(param,false)
    }
    document.getElementById(param + "-val").innerHTML = newstring;
    document.getElementById(param + "-val").style.display = newvis;
    updateCmd();
  }
  </script>
  

<fieldset>
  <legend>Options</legend>
  <form>
    {% include printer.html name="machine" label="Printer" default="prusa-mini" disabled=1 %} 
    {% include textinput.html name="kernel" label="Firmware filename" default="firmware.bin" %} 
    {% include textinput.html name="mtdblock" default="xflash.bin" label="SPI Flash Storage filename" optional=1 %}
    {% include textinput.html name="pflash" default="eeprom.bin" label="I2C Flash Storage filename" optional=1 %}
    {% include textinput.html name="pflash" default="eeprom_system.bin" index=2 label="I2C Flash System Block filename" optional=1 %}
    {% include spinbox.html name="netdev" label="Ethernet bridge host port" optional=1 default=3333 format="-netdev user,id=mini-eth,hostfwd=tcp::%1-:80" %}
    <hr/>
    Note: Correct assignment of the serial ports requires a build that supports assignment by chardev ID; otherwise handles will be assigned and filled starting from the lowest ID (so if you need access to UART6 on older builds, 1-5 must also be attached)
    Note- STM numbers UARTs starting at 1, but internally my indexing starts at zero, hence the off-by-one counting seen here. <br/><br/>If you choose "Serial" or "TTY" be sure to edit the device path <pre style="display:inline">/dev/tty???</pre> to point to the correct device - e.g. <pre style="display:inline"p>/dev/tty[USB0|ACM0|S0|S1...]</pre>!
    <br/><br/>
    {% include dropdown.html name="serial" index=0 label="Serial 0 (UART1)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart0" %}
    {% include dropdown.html name="serial" index=1 label="Serial 1 (UART2)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart1" %}
    {% include dropdown.html name="serial" index=2 label="Serial 2 (UART3)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart2" %}
    {% include dropdown.html name="serial" index=3 label="Serial 3 (UART4)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart3" %}
    {% include dropdown.html name="serial" index=4 label="Serial 4 (UART5)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart4" %}
    {% include dropdown.html name="serial" index=5 label="Serial 5 (UART6)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart5" %}
    {% include dropdown.html name="serial" index=6 label="Serial 6 (UART7)" optional=1 options="vc,cols=80,rows=24@stdio@pty@serial,path=/dev/tty???@tty,path=/dev/tty???" format="-chardev %1,id=stm32uart6" %}
    <hr />
    {% include textinput.html excludes= "-drive" name="drive" label="USB Storage filename" optional=1 default="fat32.img" format="-drive if=none,id=usbstick,format=raw,file=%1 -device usb-storage,drive=usbstick" %}
    {% include textinput.html excludes= "-drive" name="drive" index=1 label="USB via Folder (vvfat)" optional=1 format="-drive id=usbstick,readonly=on,file=fat:%1 -device usb-storage,drive=usbstick" %}
    {% include checkbox.html name="chardev" label="Fake USB CDC via virtual console" optional=1 format="-chardev vc,rows=25,cols=80,id=stm32usbfscdc" %}
    {% include dropdown.html name="append" index=0 label="Extra Visuals" optional=1 options="gfx-2d@gfx-lite@gfx-full" %}
    {% include dropdown.html name="append" index=1 label="Extrusion type" optional=1 options="Quad_Avg@Quad_HR@Tube_Avg@Tube_HR" format="-append extrusion=%1" %}
    {% include checkbox.html name="append" index=2 label="Colour Extrusion" optional=1 format = "-append colour-extrusion" %}
    {% include checkbox.html name="append" index=3 label="Appendix (Mini404 warranty void if unchecked 😉)" optional=1 format="-append appendix" %}
    {% include checkbox.html name="append" index=4 label="Print Script Help" optional=1 format="-append scripthelp" %}
    {% include textinput.html name="append" index=5 default="myscript.txt" label="Execute a script file" optional=1 format="-append script=%1" %}
    {% include checkbox.html name="append" index=6 label="4x default flash storage" optional=1 format = "-append 4x_flash" %}
    {% include checkbox.html name="S" label="Pause CPU at startup" optional=1 %}
    {% include spinbox.html name="s" label="Enable GDB debugging on port" optional=1 default=1234 format="-gdb tcp::%1" %}
    {% include textinput.html name="m" default="196608" label="SRAM size in bytes" optional=1 %}
    {% include dropdown.html name="p404" label="Enable scripting console" optional=1 options="vc,cols=80,rows=24@pty@stdio" format="-chardev %1,id=p404-scriptcon" %}
    {% include checkbox.html name="p404echo" label="Disable echo in P404 console" optional=1 format="-global p404-scriptcon.no_echo=true" %}

  </form>
</fieldset>
<hr>
<h2>Generated command line:</h2>
<pre id="finalCmd" style="max-width:100%;" >qemu-system-buddy</pre>

<script>
  function updateCmd() {
    params = document.getElementsByClassName("paramItem");
    cmdLine = "qemu-system-buddy";
    appendLine = ""
    for(i=0; i<params.length; i++) {
      if (params[i].innerHTML !="")
        cmdLine += ' ' + params[i].innerHTML.trim();
    }
    params = document.getElementsByClassName("paramAppend");
    for(i=0; i<params.length; i++) {
      tmpParam = params[i].innerHTML.replace("-append ","").trim();
      if (tmpParam !="")
        appendLine += tmpParam + ",";
    }
    if (appendLine.trim() != "")
      appendLine = '-append ' + appendLine.slice(0,-1);
    cmdLine = cmdLine + ' ' + appendLine;
    document.getElementById('finalCmd').innerHTML = cmdLine.replace(/\s+/g,' ');
  }
  document.onload = updateCmd();
</script>

<!--
  <input type="button" value="Update" onclick=updateCmd(); />
  <form>
    <p><label for="text-field">Text Field:</label><br />
      <input type="text" id="text-field" />
    </p>

    <p><label for="text-field-disabled">Disabled Text Field:</label><br />
      <input type="text" id="text-field-disabled" disabled value="I'm disabled" />
    </p>

    <p><label for="text-field-readonly">Readonly Text Field:</label><br />
      <input type="text" id="text-field-readonly" readonly value="I'm readonly" />
    </p>

    <p><label for="text-area">Text Area:</label><br />
      <textarea id="text-area"></textarea>
    </p>

    <p><label for="text-area-disabled">Disabled Text Area:</label><br />
      <textarea id="text-area-disabled" disabled>I'm disabled</textarea>
    </p>

    <p><label for="text-area-readonly">Readonly Text Area:</label><br />
      <textarea id="text-area-readonly" readonly>I'm readonly</textarea>
    </p>



    <p><label for="select-element-disabled">Disabled Select Element:</label><br/>
      <select id="select-element-disabled" disabled>
        <option value="1">Unselectable Option</option>
        <option value="2">This option should not even be seen</option>
      </select>
    </p>

    <p><label for="select_multi">Select multiple</label><br/>
      <select
        id="select_multi"
        multiple="multiple"
        name="select_multi"
      >
        <optgroup label="Group 1">
          <option value="1">Some text goes here </option>
          <option value="2">Another choice could be here</option>
          <option value="3">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 2">
          <option value="4">Some text goes here</option>
          <option value="5">Another choice could be here</option>
          <option value="6">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 3">
          <option value="7">Some text goes here</option>
          <option value="8">Another choice could be here</option>
          <option value="9">Yet another item to be chosen</option>
        </optgroup>
      </select>
    </p>

    <p><label for="select_size">Select multiple [size="2"]</label><br/>
      <select
        id="select_size"
        name="select_size"
        size="2"
      >
        <optgroup label="Group 1">
          <option value="1">Some text goes here </option>
          <option value="2">Another choice could be here</option>
          <option value="3">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 2">
          <option value="4">Some text goes here</option>
          <option value="5">Another choice could be here</option>
          <option value="6">Yet another item to be chosen</option>
        </optgroup>
      </select>
    </p>

    <p>Radio Buttons:</p>
    <div>
      <input type="radio" id="radio-1" name="radios" value="1" checked />
      <label for="radio-1">Radio 1</label>
    </div>
    <div>
      <input type="radio" id="radio-2" name="radios" value="2" />
      <label for="radio-2">Radio 2</label>
    </div>
    <div>
      <input type="radio" id="radio-3" name="radios" value="3" />
      <label for="radio-3">Radio 3</label>
    </div>
    <div>
      <input type="radio" id="radio-4" name="radios" value="4" disabled />
      <label for="radio-4">Radio Disabled</label>
    </div>

    <p>Checkboxes:</p>
    <div>
      <input type="checkbox" id="checkbox-1" name="checkboxes" value="1" checked />
      <label for="checkbox-1">Checkbox 1</label>
    </div>
    <div>
      <input type="checkbox" id="checkbox-2" name="checkboxes" value="2" />
      <label for="checkbox-2">Checkbox 2</label>
    </div>
    <div>
      <input type="checkbox" id="checkbox-3" name="checkboxes" value="3" />
      <label for="checkbox-3">Checkbox 3</label>
    </div>
    <div>
      <input type="checkbox" id="checkbox-4" name="checkboxes" value="4" disabled />
      <label for="checkbox-4">Checkbox Disabled</label>
    </div>

    <p><label for="password">Password:</label><br />
      <input type="password" class="password" id="password" />
    </p>

    <p><label for="file">File Input:</label><br />
      <input type="file" class="file" id="file" />
    </p>

    <h3>HTML5-specific Form Elements</h3>

    <p><label for="email">Email:</label><br />
      <input type="email" id="email" />
    </p>

    <p><label for="url">URL:</label><br />
      <input type="url" id="url" />
    </p>

    <p><label for="tel">Telephone:</label><br />
      <input type="tel" id="tel" />
    </p>

    <p><label for="number">Number:</label><br />
      <input type="number" id="number" min="0" max="10" step="1" value="5" />
    </p>

    <p><label for="search">Search:</label><br />
      <input type="search" id="search" />
    </p>

    <p><label for="date">Date:</label><br />
      <input type="date" id="date" />
    </p>

    <p><label for="time">Time:</label><br />
      <input type="time" id="time" />
    </p>

    <p><label for="color">Color:</label><br />
      <input type="color" id="color" />
    </p>

    <p><label for="datalist">Datalist:</label><br />
      <input list="browsers" name="browser" type="datalist" id="datalist" />
      <datalist id="browsers">
        <option value="Internet Explorer" />
        <option value="Firefox" />
        <option value="Chrome" />
        <option value="Opera" />
        <option value="Safari" />
      </datalist>
    </p>

    <p><label for="range">Range:</label><br />
      <input type="range" id="range" name="points" min="1" max="10" />
    </p>

    <p><label for="output">Output:</label><br />
      <output name="result" id="output">42</output>
    </p>

    <p><label for="progress">Progress:</label><br />
      <progress id="progress" value="65" max="100"></progress>
    </p>

    <p><label for="meter">Meter:</label><br />
      <meter id="meter" min="200" max="500" value="350">350 degrees</meter>
    </p>

    <p>
      <button class="button">Button Element</button>
      <input type="button" value="Input button">
      <input class="button" type="reset" value="Clear" />
      <input class="button" type="submit" value="Submit" />
    </p>
  </form> -->

</fieldset>
