{% if include.optional != 1 %}
    {% assign initVal='-' | append: include.name %}
{% else %}
    {% assign initVal="" %}
{% endif %}
{% if include.default  %} 
    {% assign initVal= initVal | append: ' ' | append: include.default %}
{% endif %}
<pre class="paramItem" style="margin:0;padding:0;display:{% if include.optional == 1 %}none{% else %}block{% endif %};float:right;" id="-{{ include.name }}{{ include.index }}-val">{{ initVal }} </pre>
{% if include.format %}
    {% assign argFmt=include.format %}
{% else %}
    {% assign argFmt='-' | append: include.name | append: ' %1' |  %}
{% endif %}
{% if include.optional == 1 %}
    <input type ="checkbox" id="-{{ include.name }}{{ include.index }}-enabled" value=0 onchange="updateParam('-{{ include.name }}{{ include.index }}','{{ argFmt }}')" />
{% else %}
    <input type ="hidden" id="-{{ include.name }}{{ include.index }}-enabled" value=1 />
{% endif %}
    <label for="-{{ include.name }}{{ include.index }}"> {{ include.label }}:</label>
    <select  id="-{{ include.name }}{{ include.index }}" onchange="showHide('-{{ include.name }}{{ include.index }}-' + document.getElementById('-{{ include.name }}{{ include.index }}').value); updateParam('-{{ include.name }}{{ include.index }}'); "  {% if include.disabled == 1 %}disabled{% endif %}>
        <option value="prusa-mini">Prusa Mini</option>
        <option value="prusa-mk3-35">Prusa MK3.5</option>
        <option value="prusa-mk3-39">Prusa MK3.9</option>
        <option value="prusa-mk4-027c">Prusa MK4 0.2.7c</option>
        <option value="prusa-mk4-034">Prusa MK4 0.3.4</option>
         <option value="prusa-xl-040">Prusa XL 0.4.0</option>
         <option value="prusa-xl-050">Prusa XL 0.5.0</option>
         <option value="prusa-xl-bed-060">Prusa XL Modular Bed v0.6.0</option>
         <option value="prusa-xl-bed-070">Prusa XL Modular Bed v0.7.0</option>
         <option value="prusa-xl-extruder-040-0">Prusa XL Extruder v0.4.0 #0</option>
         <option value="prusa-xl-extruder-060-0">Prusa XL Extruder v0.6.0 #0</option>
      </select>
</p>
